   <div class="slider-area  position-relative">
    <div class="contain">


        <div class="single-slider">
            <div class="slider-cap-wrapper slider-height">
                <div class="hero-caption">
                    <img src="assets/img/icon/scissors.svg" alt="" data-animation="fadeInUp" data-delay=".4s">
                    <h1 data-animation="fadeInUp" data-delay=".4s">WE'RE THE <br>LAST OF <br>BREED.</h1>
                    <p data-animation="fadeInUp" data-delay=".7s">@LayoutResource.Achieve_your_Dream_Style</p>
                    <a asp-controller="home" asp-action="contact" class="btn hero-btn" data-animation=" fadeInUp" data-delay=".7s">@LayoutResource.Book_Now</a>
                </div>
                <div class="hero-img position-relative">
                    <img src="assets/img/hero/xh1_hero1.jpg.pagespeed.ic.6xc7SWPsGQ.jpg" alt="" data-animation="pulse" data-transition-duration="5s">
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ABOUT OUR AREA  -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <div class="about-caption mb-40" style="margin-left: -60px; width: 340px; margin-top: 50px;">

                <div class="about-single mb-10 ">
                    <div class="icon" style="margin-top: 7px;">
                        <img src="~/assets/img/icon/right-arrow.svg" alt="">
                    </div>
                    <div class="pera">
                        <p>Be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>

                <div class="about-single mb-10 ">
                    <div class="icon">
                        <img src="~/assets/img/icon/right-arrow.svg" alt="">
                    </div>
                    <div class="pera">
                        <p>Psum available be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>

                <div class="about-single mb-10 ">
                    <div class="icon">
                        <img src="~/assets/img/icon/right-arrow.svg" alt="">
                    </div>
                    <div class="pera">
                        <p>Available be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>

                <div class="about-single mb-10 ">
                    <div class="icon">
                        <img src="~/assets/img/icon/right-arrow.svg" alt="">
                    </div>
                    <div class="pera">
                        <p>Humour available be the majority have suffered alteration in some form, by injected.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="about-img mb-30" style="    margin-bottom: 30px;">
                <img src="~/assets/img/gallery/xabout1.jpg.pagespeed.ic.w6Q_MBjITL.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-4">
            <hr style="left: 0;height: 5px; width: 50px;background: #fb0000; margin-right: 200px;">
            <div class="about-caption " style="margin-left: 95px; margin-top: 35px;">

                <div class="section-tittle mb-25">
                    <h2>ABOUT Our STORY</h2>
                    <p class="pt-20">
                        There are many variations of passages of Lorem Ipsum available
                        be the majority have suffered alteration in some form, by injected humour or randomised words.
                    </p>
                </div>
                <a asp-controller="home" asp-action="contact" class="btn_01">Book Now</a>
            </div>
        </div>
    </div>
</div>
<!-- OUR TOP PRICE -->
<div class="visit-area" style="margin-top: 100px;">

    <div class="barber">
        <div class="team">
            <div class="single-berber">
                <img src="~/assets/img/gallery/xbarber1.jpg.pagespeed.ic._8iH_7O2ko.jpg" alt="">
            </div>
            <div class="single-berber">
                <img src="~/assets/img/gallery/xbarber2.jpg.pagespeed.ic.jeCoefcmOD.jpg" alt="">
            </div>
            <div class="single-berber" style="margin-left: -3px;">
                <img src="~/assets/img/gallery/xbarber3.jpg.pagespeed.ic.xX2_NHjxnb.jpg" alt="">
            </div>
            <div class="single-berber">
                <img src="~/assets/img/gallery/xbarber4.jpg.pagespeed.ic.03hiFwgfBh.jpg" alt="">
            </div>
            <div class="single-berber">
                <img src="~/assets/img/gallery/xbarber5.jpg.pagespeed.ic.I6LmhRgK6-.jpg" alt="">
            </div>
            <div class="single-berber" style="margin-left: -3px;">
                <img src="~/assets/img/gallery/xbarber6.jpg.pagespeed.ic.hHsAtFTfBl.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="qiymetler">
        <hr style="left: 0;height: 4px; width: 50px;background: #fb0000;margin-left: 0px;">
        <div class="section-tittle">
            <h2>OUR TOP PRICES</h2>
        </div>

        <div class="single-items" style="margin-top: 35px;">
            <div class="price">
                <div class="price-left">
                    <div class="job-tittle">
                        <a href="#"><h4>Special Beard Treatment</h4></a>
                    </div>
                </div>
                <div class="price-rihgt">
                    <p>From<span>$40</span></p>
                </div>
            </div>
        </div>
        <hr>

        <div class="single-items">
            <div class="price">
                <div class="price-left">
                    <div class="job-tittle">
                        <a href="#"><h4>Special Beard Treatment</h4></a>
                    </div>
                </div>
                <div class="price-rihgt">
                    <p>From<span>$40</span></p>
                </div>
            </div>
        </div>
        <hr>


        <div class="single-items">
            <div class="price">
                <div class="price-left">
                    <div class="job-tittle">
                        <a href="#"><h4>Special Beard Treatment</h4></a>
                    </div>
                </div>
                <div class="price-rihgt">
                    <p>From<span>$40</span></p>
                </div>
            </div>
        </div>
        <hr>


        <div class="single-items">
            <div class="price">
                <div class="price-left">
                    <div class="job-tittle">
                        <a href="#"><h4>Special Beard Treatment</h4></a>
                    </div>
                </div>
                <div class="price-rihgt">
                    <p>From<span>$40</span></p>
                </div>
            </div>
        </div>
        <hr>


        <div class="single-items">
            <div class="price">
                <div class="price-left">
                    <div class="job-tittle">
                        <a href="#"><h4>Special Beard Treatment</h4></a>
                    </div>
                </div>
                <div class="price-rihgt">
                    <p>From<span>$40</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ALL WE FOR YOU DO -->
<section class="project-us ">
    <div class="container">
        <div class="row " style="align-items: center; display: flex; justify-content: space-between;">
            <div class="col-xl-6 col-lg-6 col-md-10 acardiondugagas">

                <h2 class="">ALL WE DO FOR YOU</h2>
                <div style="padding: 3rem; max-width: 40rem;">
                    <!-- Accordion -->
                    <div class="accordion js-accordion" data-id="accordion1" style="width: 500px; ">
                        <!-- Accordion item -->
                        <button type="button"
                                id="accordionOne"
                                class="accordion__button js-accordion__button is-active"
                                aria-expanded="false"
                                aria-controls="sectionOne">
                            For Hair
                        </button>
                        <div id="sectionOne"
                             class="accordion__body js-accordion__body"
                             role="region"
                             aria-labelledby="accordionOne">
                            <div style="padding-top: 10px; padding-bottom: 10px;">
                                <div class="accordion-body">

                                    <div class="single-items">
                                        <div class="price-items">
                                            <div class="price-left">
                                                <div class="job-tittle">
                                                    <a href="#"><h4>Trim your Hair</h4></a>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <p>From<span>$40</span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-items">
                                        <div class="price-items">
                                            <div class="price-left">
                                                <div class="job-tittle">
                                                    <a href="#"><h4>Special Beard Treatment</h4></a>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <p>From<span>$40</span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-items">
                                        <div class="price-items">
                                            <div class="price-left">
                                                <div class="job-tittle">
                                                    <a href="#"><h4>Color your Beard</h4></a>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <p>From<span>$40</span></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-items">
                                        <div class="price-items">
                                            <div class="price-left">
                                                <div class="job-tittle">
                                                    <a href="#"><h4>Wax your Beard</h4></a>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <p>From<span>$40</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Accordion item -->
                        <!-- Accordion item -->
                        <button type="button" id="accordionTwo" class="accordion__button js-accordion__button" aria-expanded="false" aria-controls="sectionTwo">For Beard</button>
                        <div id="sectionTwo" class="accordion__body js-accordion__body" role="region" aria-labelledby="accordionTwo">
                            <div class="accordion-body">

                                <div class="single-items">
                                    <div class="price-items">
                                        <div class="price-left">
                                            <div class="job-tittle">
                                                <a href="#"><h4>Trim your Hair</h4></a>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <p>From<span>$40</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-items">
                                    <div class="price-items">
                                        <div class="price-left">
                                            <div class="job-tittle">
                                                <a href="#"><h4>Special Beard Treatment</h4></a>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <p>From<span>$40</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-items">
                                    <div class="price-items">
                                        <div class="price-left">
                                            <div class="job-tittle">
                                                <a href="#"><h4>Color your Beard</h4></a>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <p>From<span>$40</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-items">
                                    <div class="price-items">
                                        <div class="price-left">
                                            <div class="job-tittle">
                                                <a href="#"><h4>Wax your Beard</h4></a>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <p>From<span>$40</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--/ Accordion item -->
                    </div>
                    <!--/ Accordion -->
                </div>

            </div>
            <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10">
                <div class="project-right-cap">
                    <div class="project-right-img">
                        <img src="~/assets/img/gallery/about2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- KARUSELIN YUXARISI -->
<section class="categories-area " style="height: 461px; width: 1519px;">
    <div class="container">
        <div class="row" style="    display: flex; flex-wrap: wrap;">
            <div class="offset-xl-1 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-prt">
                    <div class="cat">
                        <img src="~/assets/img/icon/services1.svg" alt="">
                    </div>
                    <h5><a href="services.html">Stylish hair cut</a></h5>
                    <div class="cat-cap">
                        <p>Available be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-prt">
                    <div class="cat">
                        <img src="~/assets/img/icon/services2.svg" alt="">
                    </div>
                    <h5><a href="services.html">Cut & hair style</a></h5>
                    <div class="cat-cap">
                        <p>Available be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="single-prt">
                    <div class="cat">
                        <img src="~/assets/img/icon/services3.svg" alt="">
                    </div>
                    <h5><a href="services.html">Color & hair wash</a></h5>
                    <div class="cat-cap">
                        <p>Available be the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- KARUSEL -->
<!-- Flickity HTML init -->
<div class="carousel" data-flickity>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra3.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra4.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra5.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra6.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra3.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra4.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra5.jpg" alt=""></div>
    <div class="carousel-cell"> <img style="width: 100%; height: 100%;" src="~/assets/img/gallery/instra6.jpg" alt=""></div>







</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/~/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>












<!-- CUSTOMER SAY ABOUT US -->
<section class="customer-section ">
    <hr style="left: 0;height: 5px; width: 50px;background: #fb0000;margin-top: 15px;">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-xl-6 col-lg-7 col-md-7">
                <div class="section-tittle ">
                    <h2>Customers Say About Us</h2>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex;flex-wrap: wrap; border-top: 1px solid rgba(103,94,94,.2); border-bottom: 1px solid rgba(103,94,94,.2);">
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="single-cat mb-30">
                    <div class="top-part">
                        <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                    </div>
                    <div class="cat-img">
                        <img src="~/assets/img/gallery/customer1.png" alt="">
                        <p>Wilma Mumduya</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="single-cat mb-30">
                    <div class="top-part">
                        <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                    </div>
                    <div class="cat-img">
                        <img src="~/assets/img/gallery/customer2.png" alt="">
                        <p>Wilma Mumduya</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ">
                <div class="single-cat " style="border: none;">
                    <div class="top-part">
                        <p>"Consectetur adipiscing elit, sed do eiusmod tempor dunt ulter labore et dolore magna.</p>
                    </div>
                    <div class="cat-img">
                        <img src="~/assets/img/gallery/customer3.png" alt="">
                        <p>Wilma Mumduya</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

            const lang = `@Context.GetCurrentLang()`;
            const selectedlang = $(`[data-lang="${lang}"]`).text();
            $('[data-lang-viewer="language"]').text(selectedlang);


            $('[data-lang]').click(function (e) {
                e.preventDefault();
                let path = `${window.location.pathname}${window.location.search}`;
                let selectclang = $(e.currentTarget).data('lang');
                let result = /\/(en|az|ru)?\/?(.*)?/.exec(path);

                if (result != null && result[2] != undefined) {
                    path = `/${selectclang}/${result[2]}`;
                }
                else if (result != null) {
                    path = `/${selectclang}`;
                }
                window.location.href = path;
            });
</script>