
.site-navbar{
    background-color:  rgb(21,3,3);
    height: 85px;
    border-bottom: 1px solid rgb(73, 66, 66);
    .nav-link{
        margin-right: 35px !important;
        color: white !important;
        font-size: 18px !important;
        .nav-link:hover{
            color: red !important;
        }
    }
    .active{
        li:hover{
            color: red !important;
        }
    }
}
