<ul id="sidebar_menu">





    <li class="">
        <a asp-controller="blog" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/forms.svg" alt="">
            </div>
            <div class="nav_title">
                <span>
                    Blogg


                </span>
            </div>
        </a>

    </li>

    <li class="">
        <a asp-controller="service" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/17.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Service</span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="gallery" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/17.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Gallery</span>
            </div>
        </a>

    </li>
    <li class="">
        <a asp-controller="ContactPost" asp-action="index" aria-expanded="false">
            <div class="nav_icon_small">
                <img src="~/uploads/images/img/menu-icon/17.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Contact</span>
            </div>
        </a>

    </li>

</ul>